body {
    background-color: burlywood;
}

h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
}

ul.list, p.description, ol.steps, p.link{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p.link {
    font-size: 18px;
}

a.back {
    color: maroon;
}